<nav class="navbar navbar-default navbar-fixed-top navbar-custom ">
	<div class="backgroundColor">   
   	<div class="row">
	    <div class="container-fluid" id="top">
        <div class="navbar-header page-scroll">
        	<a class="navbar-brand" href="/"><h3> Lars Finley Martinson </h3></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
							<li><a data-scroll><h3>
								 <% if(user.local) { %>
									<%= user.local.email %>
								<% } %>
								</h3></a></li>
							<li><a data-scroll href="#who"><h3>Who I Am</h3></a></li>
							<li><a data-scroll href="#travels"><h3>Travels</h3></a></li>
							<li><a data-scroll href="#contact"><h3>Contact</h3></a></li>
							<li>
								<div class="dropdown dropMargin">
				  				<a data-scroll class="dropdown-toggle" data-toggle="dropdown"><h3>Blog</h3></a>
				  				<ul class="dropdown-menu">
								    <li><a href="/blog"><h3>Blog</h3></a></li>
										<li><a href="/login"><h3>Login</h3></a></li>
										<li><a href="/signup"><h3>Sign Up</h3></a></li>
								    <li><a href="/logout"><h3>Logout</h3></a></li>
							   	</ul>
								</div>
							</li>	
						</ul>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>