<!DOCTYPE html>
<html lang="">
<head>
	<link href='https://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Title Page</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="app.js">
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/dist/css/unslider.css">

</head>
<body>
	<header>
    <%-include ./partials/navbar.ejs %>
	</header>
<div class="cd-fixed-bg cd-bg-1">
	<div class="myJumbotron">
		
	</div>
</div>
<div class="cd-scrolling-bg cd-color-2">	
	<div class="container">
		<a id="who"></a>
			<h1 class='center'> Who I Am </h1>
				<h2 class='center'>I am a craftsman that takes pride in everything I do.</h2>
	</div>
</div>				
	<div class="row">
		<div class='col-md-3 col-md-offset-2'>
			<img src="http://40.media.tumblr.com/b12fcc405436b3f7b29823f729c4f9ec/tumblr_njuyvfpBPH1tsc3aio4_500.jpg" height="350" width="230" class="img-circle">
		</div>
		<div class='col-md-5'>
			<div class="a">
				<p>&emsp;Despite being new to the programming world, I am ready for any challenge thrown my way. I have chosen a new path in life with programming but with the same goal in mind: bettering my community through proactive channels.</p>
				<p>&emsp;When I'm not programming and developing software, I may be seen roaming the mountains near and far with skis or boots on my feet, traveling to new places to sample delicous food, or on a beach reading a book.</p>
			</div>
		</div>
	</div>
</div>	
<div class="cd-fixed-bg cd-bg-2">
	<div class="myJumbotron">
		
	</div>
</div>
<

<div class="cd-scrolling-bg cd-color-2">
<div class='jumbotron'>
		<h1 id="a" class='center'> Travels </h1>
		<div class='container-fluid'>
			<div class="my-slider">
				<ul>	
					<li><img src="http://2.bp.blogspot.com/-fO7zg4-VqvY/TWp3fgY7tVI/AAAAAAAABeQ/ePgpYzdwF0Q/s400/INBRK11-0534.jpg" height="400" width="400" /></li>
					<li><img src="http://4.bp.blogspot.com/-0CoAfox_6nc/TWqvvHyz9qI/AAAAAAAABkI/turXSA8LXqg/s400/P1040163.JPG" height="400" width="400" /></li>
					<li><img src="http://2.bp.blogspot.com/_Zv4-sL2lx0E/TQTXTo1BscI/AAAAAAAAA0w/RhQ__07W3KU/s400/IMG_9388.JPG" height="400" width="400" /></li>
					<li><img src="http://3.bp.blogspot.com/_Zv4-sL2lx0E/TQKcxo10QXI/AAAAAAAAAxw/ucirHzfjMNs/s400/DSCF0585.JPG" height="400" width="400" /></li>
				</ul>	
			</div>
		</div>
	</div>
</div>

<div class="cd-scrolling-bg cd-color-2" id="travels">
	<div class='jumbotron'>
		<h1 id="a" class='center'> Travels </h1>
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-md-3'>
						<div class="feedbox" >
							<div class='center'>
								<h3>Europe</h3>
								<p class="a"> During the winter of 2010 I traveled for three months chasing snow across the Alps through France, Austria, Italy and Switzerland.</p>	
								<img src="http://2.bp.blogspot.com/-fO7zg4-VqvY/TWp3fgY7tVI/AAAAAAAABeQ/ePgpYzdwF0Q/s400/INBRK11-0534.jpg" height="100" class="thumbnail" width="100" />
								<img src="http://4.bp.blogspot.com/-0CoAfox_6nc/TWqvvHyz9qI/AAAAAAAABkI/turXSA8LXqg/s400/P1040163.JPG" height="100" class="thumbnail" width="100" />
								<img src="http://2.bp.blogspot.com/_Zv4-sL2lx0E/TQTXTo1BscI/AAAAAAAAA0w/RhQ__07W3KU/s400/IMG_9388.JPG" height="100" class="thumbnail" width="100" />
								<img src="http://3.bp.blogspot.com/_Zv4-sL2lx0E/TQKcxo10QXI/AAAAAAAAAxw/ucirHzfjMNs/s400/DSCF0585.JPG" height="100" class="thumbnail" width="100" />
							</div>
						</div>
				</div>
				<div class='col-md-3'>
						<div class="feedbox">
						 	<div class='center'>
						 		<h3>Asia</h3>
								<p class="a"> My partner and I left Seattle in 2013 on an odyssey across Asia, visiting eight countries in five months by boat, bus and motorcycle.</p> 
								<img src="http://41.media.tumblr.com/678a7c5140f38e0548d1929fe8b2ca2b/tumblr_n64exlMDVq1tsc3aio2_500.jpg" height="100" class="thumbnail" width="100" />
								<img src="http://41.media.tumblr.com/0ea8c2c734068c11e41aff57eaf051fe/tumblr_n5oydtoSJZ1tsc3aio2_500.jpg" height="100" class="thumbnail" width="100" />
								<img src="http://56.media.tumblr.com/70564b02a5544f991d52bc7ed5ab8c87/tumblr_n54rpuFL731tsc3aio6_500.jpg" height="100" class="thumbnail" width="100" />
								<img src="http://40.media.tumblr.com/de44e649876801c12020700b3ed85724/tumblr_n4ke9ytANU1tsc3aio3_500.jpg" height="100" class="thumbnail" width="100" />
							</div>
						</div>
				</div>	
				<div class='col-md-3'>
						<div class="feedbox">
							<div class='center'>
								<h3>Australia</h3>
								<p class="a"> After Asia we went to Australia on working visas and traveled around by van for a year exploring the coastline beach by beach.</p>
								<img src="http://40.media.tumblr.com/4749560acee4b4f07c91e66d6785719b/tumblr_nk4136wF6k1tsc3aio1_500.jpg" class="thumbnail" height="100" width="100" />
								<img src="http://41.media.tumblr.com/d9cb7b4ec9eb698c26a3b8a6e2bbfd93/tumblr_njuzps7emR1tsc3aio1_500.jpg" class="thumbnail" height="100" width="100" />
								<img src="http://41.media.tumblr.com/ec2302b67f9dd1060df56e3e2b623caa/tumblr_njuynycqnq1tsc3aio2_500.jpg" class="thumbnail" height="100" width="100" />
								<img src="http://56.media.tumblr.com/c60135df2cf3cce2bf7bbd5479e64629/tumblr_no9vgop39i1tsc3aio9_500.jpg" class="thumbnail" height="100" width="100" />		
							</div>	
						</div>
				</div>	
				<div class='col-md-3'>
						<div class="feedbox">
							<div class='center'>
 								<h3>North America</h3>
								<p class="a"> Having lived in Minneapolis, Montana and Seattle  afforded me the opportunity to visit many parts of western North America.</p>
								<img src="http://4.bp.blogspot.com/-XYLJnyc3GDg/UPRKeLl5hRI/AAAAAAAAByw/OtFjsFzBzsM/s400/P1000436.JPG" class="thumbnail" height="100" width="100" /> 
								<img src="http://3.bp.blogspot.com/-wc-RIfmZ3Fk/TxdG9bl4q4I/AAAAAAAABts/y8wA4CvHegk/s400/DSCF3087.JPG" height="100" class="thumbnail" width="100" />
								<img src="http://3.bp.blogspot.com/_Zv4-sL2lx0E/S-zWxBNkKjI/AAAAAAAAAvk/2-_VTtvp2TA/s400/P5060504.JPG" height="100" class="thumbnail" width="100" />
								<img src="http://3.bp.blogspot.com/_Zv4-sL2lx0E/S-zRutzWjiI/AAAAAAAAAsc/oEGRkFNxing/s400/P5080623.JPG" height="100" class="thumbnail" width="100" />
							</div>
						</div>		
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="cd-fixed-bg cd-bg-3">
	<div class="myJumbotron">	
	</div>
</div>
<div class="cd-scrolling-bg cd-color-2">
	<div class='navbar-static-bottom'>
		<div class='container-fluid'>
			<div class='row features'>
				<div class='center' id="contact">
					<a name="contact"></a>
					<h1>Contact</h1>
					<div id="spread">
                        <span class="fa-stack fa-lg">
  							<a href="https://www.linkedin.com/in/lars-martinson-52a72639" target="_blank">
  							<i class="fa fa-square-o fa-stack-2x"></i>
  							<i class="fa fa-linkedin-square fa-stack-1x"></i>
							</a>
						</span>
						<span class="fa-stack fa-lg">
  							<a href="https://github.com/LarsFinley" target="_blank">
  							<i class="fa fa-square-o fa-stack-2x"></i>
  							<i class="fa fa-github fa-stack-1x"></i>
  							</a>
						</span>
						<span class="fa-stack fa-lg">
  							<a href="https://vimeo.com/user24262724/videos" target="_blank">
  							<i class="fa fa-square-o fa-stack-2x"></i>
  							<i class="fa fa-vimeo fa-stack-1x"></i>
							</a>						
						</span>
						<span class="fa-stack fa-lg">
  							<i class="fa fa-square-o fa-stack-2x"></i>
  							<i class="fa fa-envelope fa-stack-1x"></i>
						</span>
					</div>	
				</div>
			</div>
		</div>
	</div>
	</div>


	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="app.js"></script>
	<script src="scroll.js"></script>
	<script>smoothScroll.init();</script>
	<script src="/unslider.js"></script>
	<script> jQuery(document).ready(function($) {
			$('.my-slider').unslider();
		});
	</script>
	</body>
</html>